<!DOCTYPE html>
<html>
    <head>
        <script src="http://code.jquery.com/jquery.min.js"></script>
        <link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <script src="http://getbootstrap.com/dist/js/bootstrap.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <link rel="stylesheet" href="style.css" />
        <script src="script.js"></script>
        <meta charset="utf-8" />
        <title>JS Bin</title>
    </head>
    <body ng-app="myApp">
        {{2+2}}
        <div class="container" ng-controller="BirthdayCtrl">
            <div class="jumbotron">
                <h2>Birthday Calander</h2>
            </div>
            <div class="row seven-cols">
                <div class="col-md-1 box">
                    <div class="row day">
                        Monday
                    </div>
                    <div id="mon" class="row dayBox"></div>
                </div>
                 <div class="col-md-1 box">
                    <div class="row day">
                        Tuesday
                    </div>
                    <div id="tue" class="row dayBox"></div>
                </div>
                 <div class="col-md-1 box">
                    <div class="row day">
                        Wednesday
                    </div>
                    <div id="wed" class="row dayBox"></div>
                </div>
                 <div class="col-md-1 box">
                    <div class="row day">
                        Thurusday
                    </div>
                    <div id="thu" class="row dayBox"></div>
                </div>
                 <div class="col-md-1 box">
                    <div class="row day">
                        Friday
                    </div>
                    <div id="fri" class="row dayBox"></div>
                </div>
                 <div class="col-md-1 box">
                    <div class="row day">
                        Saturday
                    </div>
                    <div id="sat" class="row dayBox"></div>
                </div>
                 <div class="col-md-1 box">
                    <div class="row day">
                        Sunday
                    </div>
                    <div id="sun" class="row dayBox"></div>
                </div>
            </div>
            <div class="row txtArea">
              <div class="col-md-7 ">
                <textarea disabled id="jsonData" rows="5" cols="50" ng-model="birthdayDataString">
 </textarea>
              </div>
              <div class="col-md-5">
                 <input type="text" name="year" ng-model="userYear"><button type="button" ng-click="update()">Update</button>                
              </div>
            </div>
        </div>
    </body>
</html>