.box {
  background-color: #f2fcf7;
  margin-right:5px;
  height:182.23px;
}


@media (min-width: 768px){
  .seven-cols .col-md-1{
    width: 100%;
    *width: 100%;
  }
}


@media (min-width: 992px) {
  .seven-cols .col-md-1{
    width: 13.85714%;
    *width: 13.85714%;
  }
}


@media (min-width: 1200px) {
  .seven-cols .col-md-1 {
    width: 13.85714%;
    *width: 13.85714%;
  }
}

.box .day {
     height: 20px;
    background-color: #c68be5;
    color: white;
    text-align: center;
}
.box .dayBox {
  height:162.13px;
  background-color:#eee;
}

.box .day-empty {
  background-image: url(img/empty.PNG);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.nameBox {
    /*padding:4px;*/
  -o-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
  display:inline-block;
 /* border:4px solid #f2fcf7;*/
  background-color:#262159;
  color: white;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.txtArea {
  margin-top:5%;
}
